@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tasty Treats Recipes</h1>
    <p>@Html.ActionLink("Click here to view our recipes!", "Index", "Recipes", null, new { @class = "btn btn-primary btn-lg" }) </p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Click here to view our recipes! &raquo;</a></p>-->
</div>

